<?xml version="1.0" encoding="UTF-8"?>
<configuration>



<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
  <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logloc}/${LOG_FILE}</file>
    <encoder>
			 <pattern>%d{HH:mm:ss.SSS} [%-5level] %-40logger - %msg%n</pattern>

		</encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

        <!-- daily rollover -->
        <fileNamePattern>${logloc}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
	
    </rollingPolicy>
  </appender>

  <root level="INFO">
    <appender-ref ref="ROLLIN" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>